.menu-analytics-blue, .menu-analytics-green, .menu-pagecreator-blue, .menu-pagecreator-green, .menu-messages-blue, .menu-messages-green, .menu-customers-blue, .menu-customers-green, .menu-dashboard-green, .menu-promotions-blue, .menu-promotions-green{
	background: url(images/sprites.png) no-repeat;
}

.menu-analytics-blue{
	background-position: -151px -392px ;
	width: 60px;
	height: 58px;
}

.menu-analytics-green{
	background-position: -150px -317px ;
	width: 60px;
	height: 58px;
}

.menu-pagecreator-blue{
	background-position: -146px -244px ;
	width: 60px;
	height: 58px;
}

.menu-pagecreator-green{
	background-position: -145px -166px ;
	width: 60px;
	height: 58px;
}

.menu-messages-blue{
	background-position: -43px -302px ;
	width: 60px;
	height: 58px;
}

.menu-messages-green{
	background-position: -42px -242px ;
	width: 60px;
	height: 58px;
}

.menu-customers-blue{
	background-position: -39px -158px ;
	width: 60px;
	height: 58px;
}

.menu-customers-green{
	background-position: -39px -91px ;
	width: 60px;
	height: 58px;
}

.menu-dashboard-green{
	background-position: -40px -21px ;
	width: 60px;
	height: 58px;
}

.menu-promotions-blue{
	background-position: -146px -92px ;
	width: 60px;
	height: 58px;
}

.menu-promotions-green{
	background-position: -145px -23px ;
	width: 60px;
	height: 58px;
}

