/*style for project1*/

body {
    font-family: Myriad Pro, Veranda, sans-serif;
    color: #777777;
    font-size: 14px; 
}

h2 {
    color: #2498f4;
    font-size: 2em;
    padding: none; 
}

h4 {
    color: #2498f4;
}

a {
    color: inherit; 
}

a:hover{
    color: #cccccc;
    text-decoration: none; 
}

h2 a:hover {
    color: #1e86d8; 
    text-decoration: none;
}

.left {
    float: left; 
}

.right {
    float: right; 
}

/*HEADER*/
header {
    background-color: #208ce3;
    color: #FFFFFF; 
    font-size: 1em;
    text-align: right;
    padding: 15px 0px 15px 0px; 
}

.header-padding {
    padding: 10px;
}

.mini, .question {
    border-right: 1px solid;
    border-color: #eeeeee; 
}

/*MENU*/

.menu {
    background-color: #134670; 
}

.menu-pattern {
    background-image: url('images/menu-pattern.png');
    background-repeat: repeat;
    background-position: center;
    height: 75px; 
}

.menu-shadows {
    background-image: url('images/menu-shadows.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 110px; 
}

.menu-icons {
    padding: 22px 0px 25px 0px;
    text-align: center; 
}

.icons {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.menu-marker {
    position: absolute;
    top: 91%;
    left: 24%; 
}

#menu-dashboard {
    background-image: url('images/menu-dashboard-green.png');
    width: 60px;
    height: 58px;
}

#menu-customers {
    background-image: url('images/menu-customers-blue.png');
    width: 60px;
    height: 58px;
}

#menu-customers:hover {
    background-image: url('images/menu-customers-green.png');
    width: 60px;
    height: 58px;
}

#menu-messages {
    background-image: url('images/menu-messages-blue.png');
    width: 60px;
    height: 58px;
}

#menu-messages:hover {
    background-image: url('images/menu-messages-green.png');
    width: 60px;
    height: 58px;
}

#menu-promotions {
    background-image: url('images/menu-promotions-blue.png');
    width: 60px;
    height: 58px;
}

#menu-promotions:hover {
    background-image: url('images/menu-promotions-green.png');
    width: 60px;
    height: 58px;
}

#menu-pagecreator {
    background-image: url('images/menu-pagecreator-blue.png');
    width: 60px;
    height: 58px;
}

#menu-pagecreator:hover {
    background-image: url('images/menu-pagecreator-green.png');
    width: 60px;
    height: 58px;
}

#menu-analytics {
    background-image: url('images/menu-analytics-blue.png');
    width: 60px;
    height: 58px;
}

#menu-analytics:hover {
    background-image: url('images/menu-analytics-green.png');
    width: 60px;
    height: 58px;
}

.navbar-inverse { background-color: #134670}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse
.navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #134670}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse
.navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse
.navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus { background-color: #134670}

.dropdown-menu { background-color: #134670}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #134670}

.navbar-inverse { background-image: none; }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }

.navbar-inverse { border-color: #134670}

.navbar-inverse .navbar-brand { color: #FFFFFF}

.navbar-inverse .navbar-brand:hover { color: #33CC66}

.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #33CC66}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse
.navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus{ color: #33CC66}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse
.navbar-nav>.active>a:focus { color: #33CC66}

.dropdown-menu>li>a { color: #FFFFFF}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #33CC66}

.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #33CC66}

.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFFFFF}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #33CC66}


/*CONTAINER*/

.container {
    margin-top: 15px;
    margin-bottom: 20px;
}


.dashboard {
    background-color: #33cc66;
    color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
    border-color: #33cc66;
    padding: 3px 10px 3px 5px;
}

.search {
    margin-top: 15px;
    float: right; 
}

.blue {
    color: #208ce3;
    font-size: 20px;
    position: absolute;
    right: 25px;
    top: 5px;
    display: inline-block; 
}

.dashboard-responsive {
    background-color: #33cc66;
    color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
    border-color: #33cc66;
    padding: 3px 10px 3px 5px;
    margin-top: 50px; 
}

.main-gradient {
    margin-top: 15px;
    background: -webkit-linear-gradient(#f6f6f6, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, transparent); /* Standard syntax */
    border-radius: 10px;
    border-color: #eeeeee;
}

.main-white {
    margin: 15px 15px 0px 15px; 
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 3px;
    border-color: #eeeeee; 
}

/*ANNOUCEMENTS*/
.announcements {
    border-bottom: 1px solid;
    border-color: #eeeeee;
}

.orange {
    color: #fe7f13;
    border-right: 1px solid;
    border-color: #eeeeee;
    padding: 18px; 
}

.latin {
    border-right: 1px solid;
    border-color: #eeeeee;
    padding: 18px;
}

.arrows{
    padding: 15px 10px 15px 10px;
}

.left-col {
    padding: 0; 
}

/*TASKS*/
.section-header {
    padding: 0px 15px 0px 15px; 
}

.tasks {
    color: #2498f4;
    font-size: 1.25em;
}

.tasks a:hover {
    color: #cccccc; 
}

.tasks ul li span :hover {
    color: #FFFFFF; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.list {
    padding: 15px;
    border-bottom: 1px solid;
    border-color: #eeeeee;
}

.circle {
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #33cc66;
    padding: 5px 9px 5px 9px;
    margin-right: 10px; 
}

.circle:hover {
    background-color: #cccccc;
    text-decoration: none; 
}

.head-count {
    float: right;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 3px;
    padding: 3px 8px 3px 8px; 
}

#head-count-avatar {
    background-image: url("images/avatar-blue.png");
    width: 20px;
    height: 20px;
    display: inline-block; 
}

#head-count-avatar:hover {
    background-image: url("images/avatar-grey.png");
    width: 20px;
    height: 20px;
    display: inline-block; 
}

.number {
    padding-left: 3px; 
}

.number a:hover{
    color: #cccccc; 
}


/*RECOMMENDATIONS*/
.recommendations li {
    padding: 10px 0px 10px 0px;
    display: block;
    overflow: hidden;
}

.recommendations-list {
    border-bottom: 1px dotted;
    border-color: #eeeeee; 
    margin: 0px 15px 0px 15px; 
}

.recommendations-icon {
    padding-right: 10px;
    float: left; 
}

.recommendations-name {
    float: left; 
}

.recommendations-name p {
    font-size: .75em;
    margin: 0;
}

.recommendations-name h6 {
    font-size: 1.1em;
    margin: 0; 
}

.right-col {
    border-left: 1px solid;
    border-color: #eeeeee;
    padding: 0; 
}

/*ANALYTICS*/
.analytics {
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid;
    border-color: #eeeeee;
}

.analytics-text{
    padding: 15px;
    margin-bottom: 0; 
}

.orange-glyph {
    color: #fe7f13; 
}

.graph {
    padding: 5px; 
}

.charts {
    border-left: 1px solid;
    border-color: #eeeeee;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 100% 0, 0 0, from(#eeeeee), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(right, #eeeeee, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(right, #eeeeee, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(right, #eeeeee, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to right, #eeeeee, rgba(0, 0, 0, 0)) 1 100%; 
}

.charts-responsive {
    display: inline;
}

.analytics-channels, .analytics-referrals {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 15px; 
}

.analytics-channels {
    padding-right: 15px; 
}

.analytics-referrals {
    padding-left: 15px; 
}

.charts-text {
    margin: 15px 0px 8px 0px;
    font-size: .9em; 
}

.analytics-social {
    text-align: center;
    margin: 15px 0px 15px 0px; 
}

.analytics-social-responsive {
    margin: 15px 0px 15px 0px; 
}

.analytics-social img{
    padding-right: 5px; 
}


/*CONTACTS&CUSTOMERS*/
.contacts-customers {
    border-bottom: 1px solid;
    border-color: #eeeeee;
    padding: 20px 40px 40px 40px; 
}

.cc-outside {
    display: block;
    position: relative; 
}

.contacts, .customers{
    text-align: center; 
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 3px;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px; 
    padding: 0px;
    width: 225px;
    height: 225px;
    box-shadow: 1px 2px 2px #d9d9d9;
    position: relative; 
}

.avatar-green, .avatar-orange {
    display: inline-block;
    position: absolute;
    top: -12%;
    left: 33%;
    bottom: 0;
}

.cc-flag-left, .cc-flag-right {
    position: absolute;
    display: inline-block; 
}

.cc-flag-left {
    top: 30%;
    left: -7%; 
}

.cc-flag-right {
    top: 30%;
    right: -7%;
}

.avatar-text {
    color: #FFFFFF;
    background-color: #2498f4;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 57px;
    border: none; 
}

.avatar-text h6 {
    font-size: 1.5em;
    margin: 0px; 
}

.avatar-text p {
    margin: 0px;
    font-size: .85em; 
}

.cc-graph-green, .cc-graph-orange {
    margin: 10px 0px 10px 0px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #eeeeee; 
}


/*DIDYOUKNOW*/
.didyouknow{
    padding: 25px; 
}

.duk-content {
    background-color: #2498f4;
    border: 1px solid;
    border-radius: 5px;
    border-color: #FFFFFF;
    display: block; 
}

.duk-text{
   color: #FFFFFF;
   padding: 25px 0px 25px 0px; 
   
}

.duk-text p{
    margin: 0px; 
}

.duk-arrow {
    padding-left: 0px;
    padding-right: 0px; 
}

.duk-arrow-one {
    display: inline-block;
    padding: 40px 0px 40px 0px; 
}

.duk-arrow-two {
    display: inline-block;
    padding: 40px 0px 40px 0px; 
}

/*PROMOS*/
.promo {
    background-color: #2498f4;
    margin: 3px;
    padding: 30px 10px 30px 10px;
    box-shadow: 3px 3px 3px #eeeeee;
}

.promo-one, .promo-two, .promo-three {
    background-color: #FFFFFF;
    border-radius: 3px;
    border-color: transparent;
    box-shadow: 2px 2px 2px #1f81d0;
    position: relative;
    max-width: 280px;
    max-height: 170px; 
}

.promo-two-pic {
    position: absolute; 
    top: 18%;
}

/*FOOTER*/
.footer-main {
    background: -webkit-linear-gradient(white, #eeeeee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #eeeeee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #eeeeee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #eeeeee); /* Standard syntax */ 
    border-top: 1px solid;
    border-color: #eeeeee;
    height: 50px;
    margin-top: 50px; 
}

.footer-menu, .footer-annoucements, .footer-socialmedia {
    padding: 15px;
    height: 50px; 
}

.footer-border {
    border-right: 1px solid;
    border-color: #dddddd; 
}

.footer-menu {
    text-align: center;
    color: #b2b2b2;
    font-size: .9em; 
}

.footer-menu-border {
    border-right: 1px solid;
    border-color: #b2b2b2;
    padding-left: 5px;
    padding-right: 5px; 
}

.footer-menu-blog {
    padding-left: 5px; 
}

.footer-annoucements a {
    color: #2498f4;
    font-weight: bold; 
}

.footer-annoucements a:hover {
    color: #1e86d8;
    text-decoration: none; 
}

.footer-logout {
    display: inline-block;
    padding-top: 5px; 
}

.footer-logout a {
    color: #2498f4;
    font-weight: bold;
}

.footer-logout a:hover {
    color: #1e86d8;
    text-decoration: none; 
}

.footer-logout-pic {
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 2px; 
    box-shadow: 1px 1px 2px #d9d9d9;
    margin-right: 5px;
}

.footer-main-responsive {
    background: -webkit-linear-gradient(white, #eeeeee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #eeeeee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #eeeeee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #eeeeee); /* Standard syntax */ 
    border-top: 1px solid;
    border-color: #eeeeee;
    margin-top: 50px; 
}

.footer-logout-responsive {
    text-align: center; 
}

.footer-logout-responsive a {
    color: #2498f4;
    font-weight: bold;
}

.footer-logout-responsive a:hover {
    color: #1e86d8;
    text-decoration: none; 
}

.footer-socialmedia-responsive {
    text-align: center;
    padding: 15px; 
}







