/*style for project1*/

body {
    font-family: Myriad Pro, Veranda, sans-serif;
    color: #777777;
    font-size: 14px; 
}

h2 {
    color: #2498f4;
    font-size: 2em;
    padding: none; 
}

h4 {
    color: #2498f4;
}

a {
    color: inherit; 
}

a:hover{
    color: #cccccc;
    text-decoration: none; 
}

h2 a:hover {
    color: #1e86d8; 
    text-decoration: none;
}

.left {
    float: left; 
}

.right {
    float: right; 
}

/*HEADER*/
header {
    background-color: #208ce3;
    color: #FFFFFF; 
    font-size: 1em;
    text-align: right;
    padding: 15px 0px 15px 0px; 
}

.header-padding {
    padding: 10px;
}

.mini, .question {
    border-right: 1px solid;
    border-color: #eeeeee; 
}

/*MENU*/

.menu {
    background-color: #134670; 
    text-align: center;
    /*background: #134670 url('css/images/menu_stripes.png') repeat center;
    padding: 20px 0px 20px 0px;*/
}

.icons {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

#menu-dashboard {
    background-image: url('images/menu-dashboard-green.png');
    width: 60px;
    height: 58px;
    position: relative;
    top: 0; 
}

#menu-customers {
    background-image: url('images/menu-customers-blue.png');
    width: 60px;
    height: 58px;
}

#menu-customers:hover {
    background-image: url('images/menu-customers-green.png');
    width: 60px;
    height: 58px;
}

#menu-messages {
    background-image: url('images/menu-messages-blue.png');
    width: 60px;
    height: 58px;
}

#menu-messages:hover {
    background-image: url('images/menu-messages-green.png');
    width: 60px;
    height: 58px;
}

#menu-promotions {
    background-image: url('images/menu-promotions-blue.png');
    width: 60px;
    height: 58px;
}

#menu-promotions:hover {
    background-image: url('images/menu-promotions-green.png');
    width: 60px;
    height: 58px;
}

#menu-pagecreator {
    background-image: url('images/menu-pagecreator-blue.png');
    width: 60px;
    height: 58px;
}

#menu-pagecreator:hover {
    background-image: url('images/menu-pagecreator-green.png');
    width: 60px;
    height: 58px;
}

#menu-analytics {
    background-image: url('images/menu-analytics-blue.png');
    width: 60px;
    height: 58px;
}

#menu-analytics:hover {
    background-image: url('images/menu-analytics-green.png');
    width: 60px;
    height: 58px;
}


/*CONTAINER*/

.container {
    margin-top: 15px;
    margin-bottom: 20px;
}


.dashboard {
    background-color: #33cc66;
    color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
    border-color: #33cc66;
    padding: 3px 10px 3px 5px;
}

.search {
    margin-top: 15px;
    float: right; 
}

.blue {
    color: #208ce3;
    font-size: 20px;
    position: absolute;
    right: 25px;
    top: 5px;
    display: inline-block; 
}

.main-gradient {
    margin-top: 15px;
    background: -webkit-linear-gradient(#f6f6f6, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, transparent); /* Standard syntax */
    border-radius: 10px;
    border-color: #eeeeee;
}

.main-white {
    margin: 15px 15px 0px 15px; 
    background-color: #FFFFFF;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 3px;
    border-color: #eeeeee; 
}

/*ANNOUCEMENTS*/
.announcements {
    border-bottom: 1px solid;
    border-color: #eeeeee;
}

.orange {
    color: #fe7f13;
    border-right: 1px solid;
    border-color: #eeeeee;
    padding: 18px; 
}

.latin {
    border-right: 1px solid;
    border-color: #eeeeee;
    padding: 18px;
}

.arrows{
    padding: 15px 10px 15px 10px;
}

.left-col {
    padding: 0; 
}

/*TASKS*/
.section-header {
    padding: 0px 15px 0px 15px; 
}

.tasks {
    color: #2498f4;
    font-size: 1.25em;
}

.tasks ul li span :hover {
    color: #FFFFFF; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.list {
    padding: 15px;
    border-bottom: 1px solid;
    border-color: #eeeeee;
}

.circle {
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #33cc66;
    padding: 5px 9px 5px 9px;
    margin-right: 10px; 
}

.circle:hover {
    background-color: #cccccc;
    text-decoration: none; 
}

.head-count {
    float: right;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 3px;
    padding: 3px 7px 0px 7px;
    display: inline-block; 
}

#head-count-avatar {
    background-image: url("images/avatar-blue.png");
    height: 20px;
    width: 20px;
    display: inline-block;
}

#head-count-avatar:hover {
    background-image: url("images/avatar-grey.png");
    height: 20px;
    width: 20px;
    display: inline-block; 
}

.number {
    padding-left: 3px;
}

.number:hover {
    color: #cccccc; 
}


/*RECOMMENDATIONS*/
.recommendations li {
    padding: 10px 0px 10px 0px;
    display: block;
    overflow: hidden;
}

.recommendations-list {
    border-bottom: 1px dotted;
    border-color: #eeeeee; 
    margin: 0px 15px 0px 15px; 
}

.recommendations-icon {
    padding-right: 10px;
    float: left; 
}

.recommendations-name {
    float: left; 
}

.recommendations-name p {
    font-size: .75em;
    margin: 0;
}

.recommendations-name h6 {
    font-size: 1.1em;
    margin: 0; 
}

.right-col {
    border-left: 1px solid;
    border-color: #eeeeee;
    padding: 0; 
}

/*ANALYTICS*/
.analytics {
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid;
    border-color: #eeeeee;
}

.analytics-text{
    padding: 15px;
    margin-bottom: 0; 
}

.orange-glyph {
    color: #fe7f13; 
}

.graph {
    padding: 5px; 
}

.charts {
    border-left: 2px solid;
    border-color: #eeeeee; 
}

.charts-text {
    margin: 15px 0px 8px 0px;
    font-size: .9em; 
}

.analytics-social {
    text-align: center;
    margin: 15px 0px 15px 0px; 
}

.analytics-social img{
    padding-right: 5px; 
}


/*CONTACTS&CUSTOMERS*/
.contacts-customers {
    border-bottom: 1px solid;
    border-color: #eeeeee;
    padding: 20px 40px 40px 40px; 
}

.cc-outside {
    display: block; 
}

.cc-flag-left, .cc-flag-right {
    position: absolute;
    display: inline-block;
    padding: 115px 0px 115px 0px; 
}

.cc-flag-left {
    top: 0;
    left: 0; 
}

.cc-flag-right {
    top: 0;
    right: 0;
}

.contacts, .customers{
    text-align: center; 
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 3px;
    display: block;
    margin-top: 20px;
    padding: 0px;
    max-width: 300px;
    max-height: 300px; 
}

.avatar-green {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.avatar-orange {
    display: inline-block;
}

.avatar-text {
    color: #FFFFFF;
    background-color: #2498f4;
    text-align: center;
    padding: 10px 0px 10px 0px;
    /*margin-top: 30px;*/ 
}

.avatar-text h6 {
    font-size: 1.5em;
    margin: 0px; 
}

.avatar-text p {
    margin: 0px;
    font-size: .85em; 
}

.cc-graph-green, .cc-graph-orange {
    margin: 10px 0px 10px 0px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #eeeeee; 
}


/*DIDYOUKNOW*/
.didyouknow{
    padding: 25px; 
}

.duk-content {
    background-color: #2498f4;
    border: 1px solid;
    border-radius: 5px;
    border-color: #FFFFFF;
    display: block; 
}

.duk-text{
   color: #FFFFFF;
   padding: 25px 0px 25px 0px; 
   
}

.duk-text p{
    margin: 0px; 
}

.duk-arrow {
    padding-left: 0px;
    padding-right: 0px; 
}

.duk-arrow-one {
    display: inline-block;
    padding: 40px 0px 40px 0px; 
}

.duk-arrow-two {
    display: inline-block;
    padding: 40px 0px 40px 0px; 
}

/*PROMOS*/
.promo {
    background-color: #2498f4;
    margin: 3px;
    padding: 20px 10px 20px 10px; 
}

.promo-one, .promo-two, .promo-three {
    background-color: #FFFFFF;
    border-radius: 3px;
    border-color: transparent; 
}

/*FOOTER*/
footer {
    border-top: 1px solid;
    border-color: #eeeeee;
    font-size: .9em; 
}

.footer-menu, .footer-annoucements, .footer-logout, .footer-socialmedia {
    border-right: 1px solid;
    border-color: #eeeeee;
}

.footer-annoucements a {
    color: #2498f4;
    font-weight: bold; 
}

.footer-menu {
    padding: 15px 8px 15px 8px;
    color: #b3b3b3;
    text-align: center; 
}

.menu-border {
    border-right: 1px solid;
    padding: 0px 10px 0px 10px; 
}

.blog {
    padding: 0px 10px 0px 10px;
}

.footer-annoucements {
    padding: 15px 8px 15px 8px;
}

.footer-blue {
    color: #208ce3;
    float: right;  
}

.footer-logout {
    padding: 11px;
}

.footer-logout a {
    color: #2498f4;
    font-weight: bold; 
}

.footer-socialmedia {
    padding: 15px 8px 15px 8px;
    text-align: center; 
}











